body {
    background-color: #101010;
}


/*******************************************************************/
/*********************** Bento Grid ********************************/
/*******************************************************************/

.grid-container {
    display: grid;
    grid-auto-columns: 15em;
    grid-auto-rows: 15em;
    grid-template-areas: 
    "tile-1 tile-1 tile-2"
    "tile-1 tile-1 tile-3"
    "tile-4 tile-5 tile-5";

    gap: 1em;
    justify-content: center;
}

.grid-container .tile {
    font-size: 1em;
    padding: 1em;
    background-color: rgb(73, 0, 133);
    color: whitesmoke;
    text-align: center;
    border-radius: 1em;
    
    display: grid;
    grid-template-rows: 1fr auto;
} 

.grid-container button {
    font-size: inherit;
    padding: 1em;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.grid-container .stack {
    display: grid;
    grid-template-rows: 100%;
    border-radius: 1em;
    
    overflow: hidden;
    grid-template-areas: "stack";
}

.stack img {
    grid-area: stack;
    margin-top: -180px;
    width: 100%;   
}

.stack .text-con {
    grid-area: stack;
    display: grid;
    place-items: end;
}

.stack .text-con p {
    margin: 0;
    font-size: inherit;
    padding: 1em;
    background-color: rgba(0, 139, 139, 0.5);
}

@media(max-width: 54em){
    .grid-container {
        grid-template-areas:
        "tile-1 tile-1"
        "tile-1 tile-1"
        "tile-2 tile-3"
        "tile-5 tile-5"
        "tile-4 none";
    }
}


/*******************************************************************/
/*********************** Buy Menu Grid *****************************/
/*******************************************************************/

.grid-container-buy-menu {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    justify-content: center;
    gap: 1em;
}

.grid-container-buy-menu .tile {
    background-color: #008080;
    border-radius: 1em;
    padding: 1em;
    
    display: grid;
    grid-template-areas: "stack";
}

.grid-container-buy-menu .tile-background {
    grid-area: stack;
    padding-top: 100%;
}

.grid-container-buy-menu .tile-content {
    grid-area: stack;
    
    display: grid;
    grid-template-rows: 1fr auto;
}


.grid-container-buy-menu .text {
    color: whitesmoke;
    text-align: center;
}

.grid-container-buy-menu button {
    border-radius: 1em;
}
