body {
    background-color: rgb(25, 25, 25);
    background-image: url("/assets/images/lava_background_original.jpg");
    background-size: cover;
    color: rgb(222, 222, 222);
}

h1 {
    font-family: monospace;
}

p {
    font-size: 100%;
    border: 2px solid darkcyan;
    padding: 5%;
    margin: 2%;
    background-color: #252525e0;
}

table {
    background-color: #252525e0;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-bottom: 2px dashed darkcyan;
    border-top: 2px dashed darkcyan;
}

tr:hover {
    background-color: #252525ff;
}

dl {
    background-color: #252525e0;
    border: 2px solid darkcyan;
}

.grid-contain {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.grid-tile {
    border: 4px solid purple;
    background-color: #252525d0;
    margin: 5%;
}

#BIGtext {
    font-size: 150%;
    color: darkred;
}